
button {
  margin: 4px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
}

button:hover {
  background-color: lightblue;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.header {
  background-color: white;
  padding-left: 20px;
  border-bottom: 1px solid;
  border-color: black;
}

.sidepanel {
  margin: 10px;
  border-right: 1px solid;
  border-color: black;
  padding: 5px 10px 5px 5px;

  max-width: 200px;
}

.link {
  margin: 2px 1px;
  border-radius: 4px;
  padding: 5px 5px;
}

.link a {
  color: black;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.link:hover {
  background-color: #fafaff;
}

.view {
  margin: 10px;
  padding: 5px;
}

.view input {
  border: none;
  border-bottom: 1px solid;
}

.view textarea {
  border: none;
  border-bottom: 1px solid;
  width: 60%;
}

.view h4 {
  padding: 5px 1px;
}

.view h4 button {
  float: right;
  visibility: hidden;
}

.view h4:hover button {
  visibility: visible;
}

.list {
  margin: 10px 5px;
  padding: 10px;
}

.list button[name=remove] {
  float: right;
  visibility: hidden;
}

.list div:hover button[name=remove] {
  visibility: visible;
}